= simple_form_for @option do |f|
  = f.input :opt_title, :label => "Option Title"
  = f.input :opt_title_id, :label => "Option Title Indonesia"
  = f.input :opt_buss_dur, :label => "Option Bussiness Duration"
  = f.input :opt_buss_dur_id, :label => "Option Bussiness Duration Indonesia"
  = f.input :opt_buss_type, :label => "Option Bussiness Type"
  = f.input :opt_loan, :label => "Option Loan Range"
  = f.input :opt_loan_id, :label => "Option Loan Range Indonesia"
  = f.input :opt_cities, :label => "Option City"
  = f.submit :button, :value => "Submit",:class=>"btn btn-primary"